/NetflixGenerator/x64/Release/*.exe
/NetflixGenerator/x64/Debug/*.idb
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/*.lastbuildstate
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/*.lastbuildstate
/NetflixGenerator/x64/Debug/*.log
/NetflixGenerator/x64/Release/*.log
/NetflixGenerator/x64/Debug/*.obj
/NetflixGenerator/x64/Release/*.obj
/NetflixGenerator/*.opensdf
/NetflixGenerator/x64/Debug/*.pdb
/NetflixGenerator/x64/Release/*.pdb
/NetflixGenerator/*.sdf
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/unsuccessfulbuild
/NetflixGenerator/NetflixGenerator.v12.suo
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/cl.command.1.tlog
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/CL.read.1.tlog
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/CL.write.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/cl.command.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/CL.read.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/CL.write.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/link.command.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/link.read.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/link.write.1.tlog
/NetflixGenerator/NetflixGenerator.vcxproj.user
/CaffeEval/caffeEval.opensdf
/CaffeEval/caffeEval.sdf
/CaffeEval/caffeEval.v12.suo
/CaffeEval/netAfter0/concat.txt
/CaffeEval/netAfter0/concatFC1.txt
/CaffeEval/netAfter0/concatFC2.txt
/CaffeEval/netAfter0/concatFC3.txt
/CaffeEval/netAfter0/concatFC4.txt
/CaffeEval/netAfter0/data.txt
/CaffeEval/netAfter0/dataMovie.txt
/CaffeEval/netAfter0/dataUser.txt
/CaffeEval/netAfter0/loss.txt
/CaffeEval/netAfter0/movieFC1.txt
/CaffeEval/netAfter0/movieFC2.txt
/CaffeEval/netAfter0/target.txt
/CaffeEval/netAfter0/userFC1.txt
/CaffeEval/netAfter0/userFC2.txt
/CaffeEval/netAfter1/concat.txt
/CaffeEval/netAfter1/concatFC1.txt
/CaffeEval/netAfter1/concatFC2.txt
/CaffeEval/netAfter1/concatFC3.txt
/CaffeEval/netAfter1/concatFC4.txt
/CaffeEval/netAfter1/data.txt
/CaffeEval/netAfter1/dataMovie.txt
/CaffeEval/netAfter1/dataUser.txt
/CaffeEval/netAfter1/loss.txt
/CaffeEval/netAfter1/movieFC1.txt
/CaffeEval/netAfter1/movieFC2.txt
/CaffeEval/netAfter1/target.txt
/CaffeEval/netAfter1/userFC1.txt
/CaffeEval/netAfter1/userFC2.txt
/CaffeEval/netAfter2/concat.txt
/CaffeEval/netAfter2/concatFC1.txt
/CaffeEval/netAfter2/concatFC2.txt
/CaffeEval/netAfter2/concatFC3.txt
/CaffeEval/netAfter2/concatFC4.txt
/CaffeEval/netAfter2/data.txt
/CaffeEval/netAfter2/dataMovie.txt
/CaffeEval/netAfter2/dataUser.txt
/CaffeEval/netAfter2/loss.txt
/CaffeEval/netAfter2/movieFC1.txt
/CaffeEval/netAfter2/movieFC2.txt
/CaffeEval/netAfter2/target.txt
/CaffeEval/netAfter2/userFC1.txt
/CaffeEval/netAfter2/userFC2.txt
/CaffeEval/netAfter3/concat.txt
/CaffeEval/netAfter3/concatFC1.txt
/CaffeEval/netAfter3/concatFC2.txt
/CaffeEval/netAfter3/concatFC3.txt
/CaffeEval/netAfter3/concatFC4.txt
/CaffeEval/netAfter3/data.txt
/CaffeEval/netAfter3/dataMovie.txt
/CaffeEval/netAfter3/dataUser.txt
/CaffeEval/netAfter3/loss.txt
/CaffeEval/netAfter3/movieFC1.txt
/CaffeEval/netAfter3/movieFC2.txt
/CaffeEval/netAfter3/target.txt
/CaffeEval/netAfter3/userFC1.txt
/CaffeEval/netAfter3/userFC2.txt
/CaffeEval/netAfter4/concat.txt
/CaffeEval/netAfter4/concatFC1.txt
/CaffeEval/netAfter4/concatFC2.txt
/CaffeEval/netAfter4/concatFC3.txt
/CaffeEval/netAfter4/concatFC4.txt
/CaffeEval/netAfter4/data.txt
/CaffeEval/netAfter4/dataMovie.txt
/CaffeEval/netAfter4/dataUser.txt
/CaffeEval/netAfter4/loss.txt
/CaffeEval/netAfter4/movieFC1.txt
/CaffeEval/netAfter4/movieFC2.txt
/CaffeEval/netAfter4/target.txt
/CaffeEval/netAfter4/userFC1.txt
/CaffeEval/netAfter4/userFC2.txt
/CaffeEval/netAfter5/concat.txt
/CaffeEval/netAfter5/concatFC1.txt
/CaffeEval/netAfter5/concatFC2.txt
/CaffeEval/netAfter5/concatFC3.txt
/CaffeEval/netAfter5/concatFC4.txt
/CaffeEval/netAfter5/data.txt
/CaffeEval/netAfter5/dataMovie.txt
/CaffeEval/netAfter5/dataUser.txt
/CaffeEval/netAfter5/loss.txt
/CaffeEval/netAfter5/movieFC1.txt
/CaffeEval/netAfter5/movieFC2.txt
/CaffeEval/netAfter5/target.txt
/CaffeEval/netAfter5/userFC1.txt
/CaffeEval/netAfter5/userFC2.txt
/CaffeEval/netBefore0/concat.txt
/CaffeEval/netBefore0/concatFC1.txt
/CaffeEval/netBefore0/concatFC2.txt
/CaffeEval/netBefore0/concatFC3.txt
/CaffeEval/netBefore0/concatFC4.txt
/CaffeEval/netBefore0/data.txt
/CaffeEval/netBefore0/dataMovie.txt
/CaffeEval/netBefore0/dataUser.txt
/CaffeEval/netBefore0/loss.txt
/CaffeEval/netBefore0/movieFC1.txt
/CaffeEval/netBefore0/movieFC2.txt
/CaffeEval/netBefore0/target.txt
/CaffeEval/netBefore0/userFC1.txt
/CaffeEval/netBefore0/userFC2.txt
/CaffeEval/netBefore1/concat.txt
/CaffeEval/netBefore1/concatFC1.txt
/CaffeEval/netBefore1/concatFC2.txt
/CaffeEval/netBefore1/concatFC3.txt
/CaffeEval/netBefore1/concatFC4.txt
/CaffeEval/netBefore1/data.txt
/CaffeEval/netBefore1/dataMovie.txt
/CaffeEval/netBefore1/dataUser.txt
/CaffeEval/netBefore1/loss.txt
/CaffeEval/netBefore1/movieFC1.txt
/CaffeEval/netBefore1/movieFC2.txt
/CaffeEval/netBefore1/target.txt
/CaffeEval/netBefore1/userFC1.txt
/CaffeEval/netBefore1/userFC2.txt
/CaffeEval/netBefore2/concat.txt
/CaffeEval/netBefore2/concatFC1.txt
/CaffeEval/netBefore2/concatFC2.txt
/CaffeEval/netBefore2/concatFC3.txt
/CaffeEval/netBefore2/concatFC4.txt
/CaffeEval/netBefore2/data.txt
/CaffeEval/netBefore2/dataMovie.txt
/CaffeEval/netBefore2/dataUser.txt
/CaffeEval/netBefore2/loss.txt
/CaffeEval/netBefore2/movieFC1.txt
/CaffeEval/netBefore2/movieFC2.txt
/CaffeEval/netBefore2/target.txt
/CaffeEval/netBefore2/userFC1.txt
/CaffeEval/netBefore2/userFC2.txt
/CaffeEval/netBefore3/concat.txt
/CaffeEval/netBefore3/concatFC1.txt
/CaffeEval/netBefore3/concatFC2.txt
/CaffeEval/netBefore3/concatFC3.txt
/CaffeEval/netBefore3/concatFC4.txt
/CaffeEval/netBefore3/data.txt
/CaffeEval/netBefore3/dataMovie.txt
/CaffeEval/netBefore3/dataUser.txt
/CaffeEval/netBefore3/loss.txt
/CaffeEval/netBefore3/movieFC1.txt
/CaffeEval/netBefore3/movieFC2.txt
/CaffeEval/netBefore3/target.txt
/CaffeEval/netBefore3/userFC1.txt
/CaffeEval/netBefore3/userFC2.txt
/CaffeEval/netBefore4/concat.txt
/CaffeEval/netBefore4/concatFC1.txt
/CaffeEval/netBefore4/concatFC2.txt
/CaffeEval/netBefore4/concatFC3.txt
/CaffeEval/netBefore4/concatFC4.txt
/CaffeEval/netBefore4/data.txt
/CaffeEval/netBefore4/dataMovie.txt
/CaffeEval/netBefore4/dataUser.txt
/CaffeEval/netBefore4/loss.txt
/CaffeEval/netBefore4/movieFC1.txt
/CaffeEval/netBefore4/movieFC2.txt
/CaffeEval/netBefore4/target.txt
/CaffeEval/netBefore4/userFC1.txt
/CaffeEval/netBefore4/userFC2.txt
/CaffeEval/netBefore5/concat.txt
/CaffeEval/netBefore5/concatFC1.txt
/CaffeEval/netBefore5/concatFC2.txt
/CaffeEval/netBefore5/concatFC3.txt
/CaffeEval/netBefore5/concatFC4.txt
/CaffeEval/netBefore5/data.txt
/CaffeEval/netBefore5/dataMovie.txt
/CaffeEval/netBefore5/dataUser.txt
/CaffeEval/netBefore5/loss.txt
/CaffeEval/netBefore5/movieFC1.txt
/CaffeEval/netBefore5/movieFC2.txt
/CaffeEval/netBefore5/target.txt
/CaffeEval/netBefore5/userFC1.txt
/CaffeEval/netBefore5/userFC2.txt
/CaffeEval/x64/Release/caffeEval.Build.CppClean.log
/CaffeEval/x64/Release/caffeEval.exe
/CaffeEval/x64/Release/caffeEval.log
/CaffeEval/x64/Release/caffeEval.pdb
/CaffeEval/x64/Release/caffeEval.tlog/CL.read.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/CL.write.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/caffeEval.lastbuildstate
/CaffeEval/x64/Release/caffeEval.tlog/cl.command.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/link.command.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/link.read.1.tlog
/CaffeEval/x64/Release/caffeEval.tlog/link.write.1.tlog
/CaffeEval/x64/Release/mLibSource.obj
/CaffeEval/x64/Release/main.obj
/CaffeEval/x64/Release/netflixDatabase.obj
/CaffeEval/x64/Release/networkProcessor.obj
/CaffeEval/x64/Release/vc120.pdb
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/unsuccessfulbuild
/CaffeEval/netAfter0/concatFC5.txt
/CaffeEval/netAfter1/concatFC5.txt
/CaffeEval/netAfter2/concatFC5.txt
/CaffeEval/netAfter3/concatFC5.txt
/CaffeEval/netAfter4/concatFC5.txt
/CaffeEval/netAfter5/concatFC5.txt
/CaffeEval/netBefore0/concatFC5.txt
/CaffeEval/netBefore1/concatFC5.txt
/CaffeEval/netBefore2/concatFC5.txt
/CaffeEval/netBefore3/concatFC5.txt
/CaffeEval/netBefore4/concatFC5.txt
/CaffeEval/netBefore5/concatFC5.txt
