/NetflixGenerator/x64/Release/*.exe
/NetflixGenerator/x64/Debug/*.idb
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/*.lastbuildstate
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/*.lastbuildstate
/NetflixGenerator/x64/Debug/*.log
/NetflixGenerator/x64/Release/*.log
/NetflixGenerator/x64/Debug/*.obj
/NetflixGenerator/x64/Release/*.obj
/NetflixGenerator/*.opensdf
/NetflixGenerator/x64/Debug/*.pdb
/NetflixGenerator/x64/Release/*.pdb
/NetflixGenerator/*.sdf
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/unsuccessfulbuild
/NetflixGenerator/NetflixGenerator.v12.suo
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/cl.command.1.tlog
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/CL.read.1.tlog
/NetflixGenerator/x64/Debug/NetflixGenerator.tlog/CL.write.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/cl.command.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/CL.read.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/CL.write.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/link.command.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/link.read.1.tlog
/NetflixGenerator/x64/Release/NetflixGenerator.tlog/link.write.1.tlog
/NetflixGenerator/NetflixGenerator.vcxproj.user
